*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #202020;
    line-height: 140%;
}

a{
    text-decoration: none;
}

h2{
    font-size: calc(0.4vw + 27px);
    font-weight: 700;
    line-height: 120%;
}

section:not(.no_margin){
    padding: 0 calc(22vw - 110px);

    /* 110 */
}

.gray{
    background-color: #F4F4F4;
}

/* 1 section */

.orange{
    background: url(../assets/img/orange.png);
    background-repeat: no-repeat;
    padding-top: calc(0.8vw + 8.36px);
    background-size: calc(42.4vw - 78px) calc(-2.6vw + 901px);
    background-color: #F4F4F4;
}

header{
    display: flex;
    justify-content: space-between;
    /* margin: 0 calc(22vw - 73px); */
    margin-bottom: calc(3.4vw + 3px);
    padding-top: calc(0.6vw + 13px);
}

.header_logo{
    display: flex;
    gap: 20px;
    font-size: 14px;
    font-weight: 600;
    /* margin-left: 20px; */
}

.header_logo img{
    width: calc(4vw + 47px);
    /* padding-left: calc(22vw - 73px); */
}

nav{
    display: flex;
    gap: 74px;
}

.nav_links{
    display: flex;
    flex-wrap: nowrap;
}

.nav_links a{
    margin-left: 33px;
    font-size: 14px;
}

.nav_number{
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 10px;
}

.nav_btn{
    word-wrap: 170px;
    background-color: #FF9646;
    font-size: 14px;
    font-weight: 500;
    padding: 11px 17px;
    color: #fff;
}

.burger_menu{
    display: none;
}

@media (max-width: 1400px){
    .nav_links a{
        /* display: flex; */
        margin-left: 10px;
        /* font-size: 10px; */
    }
    nav{
        display: flex;
        gap: 50px;
    }
}

@media (max-width: 750px){
    .header_info{
        display: none;
    }

    nav{
        display: none;
    }

    .burger_menu{
        display: block;
        margin: 20px;
    }

    .header_logo img{
        margin-left: 20px;
        padding-top: calc(0.6vw + 13px);
    }
}

/* @media (max-width: 420px){

} */

.main_section{
    display: grid;
    /* grid-template-columns: 0.5fr calc(7vw + 250px); */
    grid-template-columns: 0.5fr calc(7px + 250px);
    grid-template-areas: 'a b'  'c b';
    gap: 0 102px; 
    /* margin: 0 calc(22vw - 110px); */
    /* margin-left: calc(14.8vw - 62px); */
    /* margin-right: calc(22vw - 73px); */
    /* padding-left: calc(14.8vw - 62px); */

}


.main_section img{
    grid-area: a;
    width: calc(29.3vw + 297px);
}

.main_price{
    width: calc(4.4vw + 362px);
    background-color: #202020;
    padding: 40px 68px;
    grid-area: c;
    justify-self: end; 
}

.main_price p{
    color: #fff;
    font-size: calc(0.3vw + 17px);
    margin-bottom: calc(0.4vw + 18px);
}

.price_btn{
    background-color: #fff;
    padding: 15px 53px;
    text-align: center;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
}

.main_info{
    grid-area: b;
    width: calc(7px + 250px);
    margin: 0 50px 0 0;
    position: relative;
} 

.main_info img{
    width: calc(13.2vw + 262px);
    position: absolute;
    top: 210px;
    right: 50px;
}
/* margin-right: calc(22vw - 73px); */

.main_info span{
    color: #FF9646;
    font-size: 12px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}
.main_info h1{
    font-size: calc(0.4vw + 37px);
    letter-spacing: 0.6px;
    font-weight: 700;
    line-height: 120%; 
    letter-spacing: 0.9px;
    margin-bottom: calc(1vw + 49px);
}
.main_info p{
    font-size: calc(0.13vw + 11px);
    line-height: 160%; 
    letter-spacing: 0.9px;
    margin-bottom: calc(-0.3vw + 41px);
}

.primary{
    width: 209px;
    padding: 15px 53px;
    border-radius: 2px;
    color: #fff;
    background-color: #FF9646;

}

@media (max-width: 1400px){
    .main_section{
        gap: 0 40px;

    }
}

@media (max-width: 750px){
    .main_section{
        grid-template-areas: 'a' 'b' 'c';

    }

    .main_info{
        margin-top: 40px;
        margin-right: 20px;
        justify-self: flex-end;
    }
    .main_price{
        justify-self: center;
        margin-top: 40px;
    }
} 

/* 2 section */

section:nth-child(2){
    position: relative;
    margin-bottom: calc(2.6vw + 69px);
}
.element{
    position: absolute;
    right: 143px;
    top: -50px;
}
.element2{
    position: absolute;
    top: 160px;
    left: 143px;
}

.works{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: calc(3vw + 67px);
    /* width: calc(56vw + 145px); */
}

.works .work:nth-child(2){
    border-right: 0;
    border-left: 0;
}

.work{
    width: calc(1.8vw + 372px);
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    gap: 30px;
    padding: 40px 36px 40px 40px;
    border: 2px solid #F4F4F4;
    background: #FFF;
    background: url(../assets/img/Rectangle\ 306.svg);
    background-repeat: no-repeat;
    background-position: top 60px left 30px;
}

.work h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.stairs{
    /* margin: 0 calc(22vw - 73px); */
    /* position: relative; */
}

.rectangle{
    position: absolute;
    top: 13px;
    left: -50px;
    z-index: -1;
}

.stair_type{
    display: flex;
    justify-content: center;
    margin: 0 calc(19.4vw - 61px) 40px;
    justify-content: space-between;
    position: relative;
}

.stair_slider{
    display: flex;
}
.stick{
    height: 58px;
    width: 4px;
    background-color: #222;
    border-radius: 2px;
}

.color{
    margin: 14px 20px ;
}

.stairs_variaty{
    display: flex;
    gap: 0 30px;
    justify-content: center;
}

.stair_price{
    border: 2px solid #F4F4F4;
    transition: 1s;
    margin-bottom: 30px;
}

.stair_price img{
    padding: 46px 35px 0;
}

.stair_price:hover{
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.stair_info{
    width: 100%;
    margin-top: 44px;
    text-align: center;
    background-color: #F4F4F4;
    padding: 20px 30px 38px;
}

.stair_info h5{
    font-size: 23px;
    font-weight: 600;
}
.stair_info span{
    font-size: 14px;
}
.stair_btn{
    padding: 15px 53px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #FF9646;
    width: 191px;
    margin: 0 auto;
    margin-top: 15px;
}

.stairs_btn_mobile{
    display: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin: 0 auto;
}
.stairs_btn_mobile div{
    width: 10px;
    height: 10px;
    background-color: #FF9646;
    transition: 1s;
}
.stairs_btn_mobile div:active{
    width: 20px;
    height: 20px;
    background-color: #222;
}

@media (max-width: 1180px){
    .element{
        display: none;
    }
    .element2{
        display: none;
    }
    .works .work:nth-child(2){
        border-right: 2px solid #F4F4F4;
        /* border-left: 1px solid #F4F4F4; */
    }
    .third{
        display: none;
    }
}

@media (max-width: 770px) {
    .works .work:nth-child(2){
        border-top: 0;
        border-bottom: 0;
        border-left: 2px solid #F4F4F4;
    }
    .second{
        display: none;
    }
    .stair_slider{
        display: none;
    }
    .stairs_btn_mobile{
        display: flex;
 
    }
    
}

/*  3 section */

section:nth-child(3){
    padding: calc(2vw + 32px) calc(28.2vw - 80px) 80px;
    /* margin: 0 calc(22vw - 73px); */
}
section:nth-child(3) h2{
    text-align: center;
    margin-bottom: calc(0.6vw + 17px);
}
section:nth-child(3) p:not(:last-child){
    text-align: center;
    margin-bottom: calc(2vw + 34px);
    font-size: calc(0.2vw + 13px);
    line-height: 160%;
}

section:nth-child(3) form{
    display: flex;
    gap: 30px 60px;
    flex-wrap: wrap;
    justify-content: center;
}

section:nth-child(3) input{
    background-color: #f4f4f4;
    border: 0;
    border-bottom: 2px solid rgba(32, 32, 32, 0.40);
    padding-bottom: 20px;
    font-size: 14px;
    width: 200px;
}

.form{
    margin-top: calc(0.6vw + 47px);
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.form_btn{
    flex-basis: 240px;
    background-color: #FF9646;
    color: #fff;
    padding: 15px 54px;
    
}

.form p{
    flex-basis: calc(-3.3vw + 270px);
    color: rgba(32, 32, 32, 0.40);
    font-size: 13px;
}

@media (max-width: 810px){
    .form:last-child{
        text-align: center;
    }
}

/* 4 section */

section:nth-child(4){
    margin-bottom: calc(4.2vw + 46px);
    /* position: relative; */
}

.element3{
    position: relative;

}  

.element3 img{
    position: absolute;
    top: 16px;
    left: 0px;
    z-index: -1;
}

section:nth-child(4) h2{
    /* margin: calc(2.6vw + 69px) calc(22vw - 80px) 40px; */
    margin-top: calc(2.6vw + 69px);
    margin-bottom: 40px;
    padding-left: 20px;
    /* margin: calc(2.6vw + 69px) calc(22vw - 73px); */
}



.treatment{
    /* margin: 0 calc(22vw - 73px); */
    /* margin: 0 calc(22vw - 73px); */
    display: flex;
    gap: 40px 85px;
    flex-wrap: wrap;
    justify-content: center;
}

.treatment h5{
    font-size: 23px;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: calc(0.6vw + 17px);
}

.treatment p{
    font-size: calc(0.1vw + 11px);
    line-height: 160%;
    margin-bottom: calc(1.3vw + 4.4px);
}


.reason{
    flex-basis: 380px;
}

.specialization{
    flex-basis: 267px;
}

.type_spec{
    margin-bottom: calc(-0.6vw + 53px);
    padding-left: 10px;
    display: flex;
    gap: 20px;
    background: url(../assets/img/Rectangle\ 306.svg);
    background-repeat: no-repeat;
}

.type_spec span{
    align-self: center;
    font-size: 18px;
    font-weight: 600;
}

@media (min-width: 1400px){
    .element3{
        position: relative;
    }  
    
    .element3 img{
        position: absolute;
        top: 500px;
        left: 0px;
        z-index: -1;
    }
}

/* 5 section */

.orange_1{
    background: url(../assets/img/orange.png);
    background-repeat: no-repeat;
    padding-top: calc(0.8vw + 8.36px);
    background-size: calc(42.4vw - 78px) 100%;
    background-position: top 0 left calc(57.5vw + 78px);
    background-color: #f4f4f4;
}
/* calc(-2.6vw + 901px) */

.grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 170px 1fr;
    grid-template-areas: 'a b' 'c b';
    position: relative;
}

.stair_example_img{
    position: absolute;
    top: 120px;
    left: -60px;
    z-index: 0;
}

.grid_container h2{
    grid-area: a;
    margin-top: calc(3.3vw + 26px);
    z-index: 1;
    /* align-self: end;
    margin-bottom: 40px; */
}

.stair_example{
    grid-area: c;
}

.stair_details div{
    font-size: 14px;
    line-height: 210%;
    color: rgba(32, 32, 32, 0.70);
}
.stair_details div b{
    font-weight: 600;
}

.stair_details div:last-child{
    font-size: 14px;
    line-height: 210%;
    margin-top: 28px;
}
.stair_details div:last-child b{
    font-size: 23px;
    line-height: 210%; 
    margin: 28px 8px 45px 42px ;
}

.stair_example p{
    font-size: calc(0.3vw + 17px);
    font-weight: 600;
    line-height: 160%;
    margin-bottom: calc(0.6vw + 17px);
}

.example_btn{
    width: 263px;
    padding: 15px 53px;
    border-radius: 2px;
    background: #F98C37;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
}

.example_img{
    grid-area: b;
    margin-left: 13.9px;
}

.example_img img{
    width: calc(7.3vw + 349px);
    margin-top: calc(3.3vw + 26px);
}

.stair_slider_btn{
    display: flex;
    margin-top: -6px;
}

.arrows{
    flex-basis: 208px;
    display: flex;
    justify-content: center;
    background-color: #222;
    /* justify-content: space-between; */
    /* gap: 20px; */
    /* padding: 45px 65px; */
}

.fa-chevron-left, .fa-chevron-right{
    color: #fff;
    font-size: 30px;
    margin: 48px 0;
    transition: 1s;
    /* margin: 0 10px; */
}

.fa-chevron-right:hover{
    color: #F98C37;
}
.fa-chevron-left:hover{
    color: #F98C37;
}

.white{
    background-color: #fff;
    width: 4px;
    height: 50px;
    margin: 0 30px;
    margin-top: 40px;
}

.example_btn_slider{
    display: flex;
    gap: 20px;
    /* margin-top: 57px; */
    margin-left: 65px;
}

.example_btn_slider div{
    width: 10px;
    height: 10px;
    background-color: #fff;
    transition: 2s;
    margin: auto 0;
}

.example_btn_slider div:hover{
    background-color: #222;
    width: 20px;
    height: 20px;
}

@media (max-width: 995px){
    .grid_container{
        grid-template-areas: 'a' 'b' 'c';
        grid-template-columns: 1fr 1px;
    }

    .grid_container h2{
        margin-left: 20px;
        align-self: center;
    }

    .example_img img{
        margin-top: 0;
    }

    .stair_example{
        margin-left: 20px;
        margin-top: 40px;
    }

    .arrows{
        display: none;
    }

    .example_btn_slider{
        /* margin-top: 20px;
        margin-left: 0; */
        margin: 20px auto;
    }

    .example_btn_slider div{
        background-color: #F9BB88;
        margin: auto 0;
    }
}

/* 6 section */

section:nth-child(6) h2{
    margin-top: calc(2vw + 72px);
    margin-left: 20px;
}

.advantages{
    display: flex;
    flex-wrap: wrap;
    gap: 21px 99px;
    margin-top: 45px;
    margin-bottom: calc(3.6vw + 65px);
    position: relative;
}

.advantages img:nth-child(1){
    position: absolute;
    top: -65px;
    z-index: -1;
}

.advanture_img{
    width: calc(7.9vw + 387px);
    height: calc(7.8vw + 385px);
    flex-grow: 0;
    flex-shrink: 0;
}

.advantages_info{
    padding: 20px;
}

.advantages_info h5{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.advantages_info p{
    font-size: 14px;
    margin-bottom: calc(1.1vw + 15px);
}

/* 7 section */

section:nth-child(7) h2{
    padding-top: calc(2vw + 72px);
    margin-bottom: 40px;
    padding-left: calc(22vw - 110px);
    margin-left: 20px;

}

.work_proccess{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: calc(4.6vw + 40px);
    margin-left: 20px;
    padding-left: calc(22vw - 110px);
}

.proccess{
    flex-basis: calc(-5vw + 401px);
    flex-grow: 0;
    border: 2px solid #F4F4F4;
    background: #FFF;
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 30px calc(-1.3vw + 66px) 37px;
}

.preccess_info{
    width: calc(-5vw + 270px);
}

.preccess_info h4{
    margin-bottom: 8px;
}

.number{
    position: relative;
    margin-top: 21px;
}

.number span{
    position: relative;
    font-size: 36px;
    margin-right: 27px;
    z-index: 2;

}

.number_img{
    position: absolute;
    top: -15px;
    left: -10px;
    z-index: 1;
}

/* 7 section */

.feedback_grid{
    display: grid;
    grid-template-areas: 'a b' 'a c';
    grid-template-rows: 200px 1fr;
    gap: 0 134px;
    margin: calc(2vw + 72px) 0;
    position: relative;
}

.feedback_img{
    position: absolute;
    top: 65px;
    left: 800px;
    z-index: -1;
}

.feedback_grid img{
    grid-area: a;
    margin-top: 100px;
}

.feedback_grid h2{
    grid-area: b;
    margin-top: 100px;
}

.feedback{
    grid-area: c;
}

.feedback p:first-child{
    font-size: 14px;
    line-height: 160%;
    margin-bottom: calc(0.8vw + 25px);
}

.feedback form{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.feedback input{
    border: 0;
    border-bottom: 2px solid #20202066;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 14px;
}

.feedback_btn{
    background-color: #F98C37;
    color: #fff;
    border-radius: 2px;
    width: calc(-0.3vw + 283px);
    padding: 15px 54px;
    margin-bottom: 10px;
}

.feedback p{
    font-size: 13px;
    /* text-align: center; */
    color: rgba(32, 32, 32, 0.40);
}

.feedback a{
    color: rgba(32, 32, 32, 0.40);
    text-decoration: underline;
    text-align: center;
}

@media (max-width: 900px){
    .feedback_grid{
        grid-template-areas: 'b' 'c';
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
    }
    .feedback_grid img:first-child{
        display: none;
    }
    .feedback_btn{
        margin: 10px auto;
    }
    .feedback p:not(:first-child){
        text-align: center;
    }
    .feedback_img{
        position: absolute;
        top: 20px;
        left: -20px;
        /* z-index: -1; */
    }
}

/* footer */

footer{
    padding: calc(-0.6vw + 43px) calc(18.7vw - 7px);
    background: #F4F4F4;
}

.footer_flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_contaoner{
    display: flex;
    gap: 20px;
}

.footer_name{
    font-size: 14px;
    font-weight: 600;
}

.footer_logo h4{
    font-size: 14px;
    font-weight: 600;
    color: #F98C37;
    letter-spacing: 3.878px;
    text-transform: uppercase;
    margin-top: 10px;
}

.footer_links{
    display: flex;
    gap: 72px;
}

.cont_links{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 8px;
}

.cont_links a{
    transition: .5s;
}

.cont_links a:hover{
    color: #F98C37;
}

.footer_num{
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    margin-bottom: 10px;
}

.footer_btn{
    border-radius: 2px;
    background: #F98C37;
    padding: 11px 17px;
    color: #fff;
}

.footer_info{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.footer_info span{
    color: #20202066;
}

@media (max-width: 900px){
    .footer_links{
        display: none;
    }

    .footer_call{
        margin: 30px auto;
    }

    .footer_info{
        justify-content: center;
    }

    .footer_info img{
        margin-bottom: 20px;
    }

    .footer_info span{
        margin-bottom: 10px;
    }
}

