*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #202020;
    line-height: 140%;
}

a{
    text-decoration: none;
}

/* 1 section */

.orange{
    background: url(../assets/img/orange.png);
    background-repeat: no-repeat;
    padding-top: calc(0.8vw + 8.36px);
    /* padding-bottom: 100px; */
    /* padding-right: calc(22vw - 73px); */
    /* padding-left: calc(14.8vw - 62px); */
    background-size: calc(42.4vw - 78px) calc(-2.6vw + 901px);
    background-color: #F4F4F4;
    
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0 calc(22vw - 73px);
    margin-bottom: calc(3.4vw + 3px);
}

.header_logo{
    display: flex;
    gap: 20px;
    font-size: 14px;
    font-weight: 600;
}

.header_logo img{
    width: calc(4vw + 47px);
    
}

nav{
    display: flex;
    gap: 74px;
}

.nav_links{
    display: flex;
    flex-wrap: nowrap;
}

.nav_links a{
    margin-left: 33px;
    font-size: 14px;
}

.nav_number{
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 10px;
}

.nav_btn{
    word-wrap: 170px;
    background-color: #FF9646;
    font-size: 14px;
    font-weight: 500;
    padding: 11px 17px;
    color: #fff;
}

.burger_menu{
    display: none;
}

@media (max-width: 1400px){
    .nav_links a{
        /* display: flex; */
        margin-left: 10px;
        /* font-size: 10px; */
    }
    nav{
        display: flex;
        gap: 50px;
    }
}

@media (max-width: 750px){
    .header_info{
        display: none;
    }

    nav{
        display: none;
    }

    .burger_menu{
        display: block;
        margin: 20px;
    }
}

/* @media (max-width: 420px){

} */

.main_section{
    display: grid;
    /* grid-template-columns: 0.5fr calc(7vw + 250px); */
    grid-template-columns: 0.5fr calc(7px + 250px);
    grid-template-areas: 'a b'  'c b';
    gap: 0 102px; 
    /* margin-left: calc(14.8vw - 62px); */
    /* margin-right: calc(22vw - 73px); */
    padding-left: calc(14.8vw - 62px);

}


.main_section img{
    grid-area: a;
    width: calc(29.3vw + 297px);
}

.main_price{
    width: calc(4.4vw + 362px);
    background-color: #202020;
    padding: 40px 68px;
    grid-area: c;
    justify-self: end; 
}

.main_price p{
    color: #fff;
    font-size: calc(0.3vw + 17px);
    margin-bottom: calc(0.4vw + 18px);
}

.price_btn{
    background-color: #fff;
    padding: 15px 53px;
    text-align: center;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
}

.main_info{
    grid-area: b;
    width: calc(7px + 250px);
    margin: 0 50px 0 0;
    position: relative;
} 

.main_info img{
    width: calc(13.2vw + 262px);
    position: absolute;
    top: 210px;
    right: 50px;
}
/* margin-right: calc(22vw - 73px); */

.main_info span{
    color: #FF9646;
    font-size: 12px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}
.main_info h1{
    font-size: calc(0.4vw + 37px);
    letter-spacing: 0.6px;
    font-weight: 700;
    line-height: 120%; 
    letter-spacing: 0.9px;
    margin-bottom: calc(1vw + 49px);
}
.main_info p{
    font-size: calc(0.13vw + 11px);
    line-height: 160%; 
    letter-spacing: 0.9px;
    margin-bottom: calc(-0.3vw + 41px);
}

.primary{
    width: 209px;
    padding: 15px 53px;
    border-radius: 2px;
    color: #fff;
    background-color: #FF9646;

}

@media (max-width: 1400px){
    .main_section{
        gap: 0 40px;

    }
}

@media (max-width: 750px){
    .main_section{
        grid-template-areas: 'a' 'b' 'c';

    }

    .main_info{
        margin-top: 40px;
        margin-right: 20px;
        justify-self: flex-end;
    }
    .main_price{
        justify-self: center;
        margin-top: 40px;
    }
} 

/* 2 section */

section:nth-child(2){
    position: relative;
    margin-bottom: calc(2.6vw + 69px);
}
.element{
    position: absolute;
    right: 143px;
    top: -50px;
}
.element2{
    position: absolute;
    top: 160px;
    left: 143px;
}

.works{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: calc(3vw + 67px);
    /* width: calc(56vw + 145px); */
}

.works .work:nth-child(2){
    border-right: 0;
    border-left: 0;
}

.work{
    width: calc(1.8vw + 372px);
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    gap: 30px;
    padding: 40px 36px 40px 40px;
    border: 2px solid #F4F4F4;
    background: #FFF;
    background: url(../assets/img/Rectangle\ 306.svg);
    background-repeat: no-repeat;
    background-position: top 60px left 30px;
}

.work h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.stairs{
    margin: 0 calc(22vw - 73px);
    position: relative;
}

.rectangle{
    position: absolute;
    top: 23px;
    left: -50px;
    z-index: -1;
}

.stair_type{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.stair_type h5{
    font-size: calc(0.4vw + 27px);
    font-weight: 700;
    line-height: 120%;
}

.stair_slider{
    display: flex;
}
.stick{
    height: 58px;
    width: 4px;
    background-color: #222;
    border-radius: 2px;
}

.color{
    margin: 14px 20px ;
}

.stairs_variaty{
    display: flex;
    gap: 0 30px;
    justify-content: center;
}

.stair_price{
    border: 2px solid #F4F4F4;
    transition: 1s;
    margin-bottom: 30px;
}

.stair_price img{
    padding: 46px 35px 0;
}

.stair_price:hover{
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.stair_info{
    width: 100%;
    margin-top: 44px;
    text-align: center;
    background-color: #F4F4F4;
    padding: 20px 30px 38px;
}

.stair_info h5{
    font-size: 23px;
    font-weight: 600;
}
.stair_info span{
    font-size: 14px;
}
.stair_btn{
    padding: 15px 53px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #FF9646;
    width: 191px;
    margin: 0 auto;
    margin-top: 15px;
}

.stairs_btn_mobile{
    display: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin: 0 auto;
}
.stairs_btn_mobile div{
    width: 10px;
    height: 10px;
    background-color: #FF9646;
    transition: 1s;
}
.stairs_btn_mobile div:active{
    width: 20px;
    height: 20px;
    background-color: #222;
}

@media (max-width: 1180px){
    .element{
        display: none;
    }
    .element2{
        display: none;
    }
    .works .work:nth-child(2){
        border-right: 2px solid #F4F4F4;
        /* border-left: 1px solid #F4F4F4; */
    }
    .third{
        display: none;
    }
}

@media (max-width: 770px) {
    .works .work:nth-child(2){
        border-top: 0;
        border-bottom: 0;
        border-left: 2px solid #F4F4F4;
    }
    .second{
        display: none;
    }
    .stair_slider{
        display: none;
    }
    .stairs_btn_mobile{
        display: flex;
 
    }
    
}