@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Serif&family=Raleway&family=Roboto+Condensed:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #202020;
    line-height: 140%;
}

.open {
    display: block;
}

.close {
    display: none;
}

section {
    width: calc(55.8vw + 145px);
    /* margin-top: 50px; */
    margin: 50px auto;
    border: 1px solid;
    border: 2px solid #F4F4F4;
    background: #FFF;
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.08);
}

h2 {
    text-align: center;
    font-size: calc(0.3vw + 17px);
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 50px;
}

.line_progress {
    width: calc(33.4vw + 159px);
    height: calc(0.9vw + 10px);
    border: 2px solid #F9BB88;
    background: #FFF;
    margin: 0 auto;
    padding: calc(0.13vw + 0.1144px);
}

.line_orange {
    width: 33%;
    height: calc(0.6vw + 6px);
    background: #F98C37;
}

.stair_choose {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: calc(1.2vw + 13px);
    text-align: center;
}

.arrows {
    display: none;
}

.stairs {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.stair {
    position: relative;
}

.stair_type {
    background-color: #F4F4F4;
    padding: 20px;
    margin-bottom: 32px;
}

.stair_radio_btn {
    width: 44px;
    height: 44px;
    padding: 11px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 48px;
    left: 70px;
    cursor: pointer;
}

.center {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #E2E2E2;
}

.stair p {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.last {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 60px 0;
}

.next {
    flex-shrink: 0;
    padding: 15px 52px;
    border-radius: 2px;
    background: #FF9646;
    color: #f4f4f4;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.gray_line {
    flex-basis: calc(18.2vw - 77px);
    height: 3px;
    background-color: #f4f4f4;
    align-self: center;
}

@media (max-width: 1500px){
    .stair:last-child {
        display: none;
    }
    .arrows {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    .white {
        width: 3px;
        height: 25px;
        background-color: black;
        border-radius: 2px;
    }
    
    .fa-solid {
        font-size: 20px;
        align-self: center;
    }
}
@media (max-width: 1100px){
    .stair:nth-child(4) {
        display: none;
    }
}
@media (max-width: 800px){
    .stair:nth-child(3) {
        display: none;
    }
}
@media (max-width: 500px){
    .stair:nth-child(2) {
        display: none;
    }
}

/* 2 section */

section:nth-child(2) {
    display: none;
}
section:nth-child(2).active {
    display: block;
}

.progress {
    width: 66%;
}

.content {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 90px;
}

.content p:first-child {
    text-align: center;
    margin-bottom: 30px;
    font-size: calc(1.2vw + 13px);
}

.type_stair {
    flex-basis: 50%;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
}

.type_img {
    background-color: #F4F4F4;
    padding: 20px;
    margin-bottom: 32px;
}

.type_info {
    width: calc(2vw + 142px);
    flex-shrink: 1;
    position: relative;
}

.type_img img {
    width: calc(2vw + 102px);
}

.type_info P {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.type_btn {
    width: 44px;
    height: 44px;
    padding: 11px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 48px;
    left: 70px;
    cursor: pointer;
}

.circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #E2E2E2;
}

.type_form {
    /* flex-basis: 40%; */
    display: flex;
    flex-direction: column;
}

.type_form input {
    width: calc(5.7vw + 256px);
    border: 0;
    border-bottom: 1px solid #C8C8C8;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.60);
    padding: 20px 10px;
}

/* 3 section */

section:nth-child(3) {
    display: none;
}
section:nth-child(3).active {
    display: block;
}

.full {
    width: 100%;
}

.type_materials {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: center;

}

.material_img {
    background-color: #F4F4F4;
    width: 180px;
    height: 162px;
    margin-bottom: 32px;
}

.first img {
   margin: 50px 20px;
}
.second img {
   margin: 28px 17px 35px 19px;
}
.third img {
   margin: 25px 20px;
}
.fourth img {
   margin: 30px;
}
.fifth img {
   margin: 20px;
}

.type_material p {
    font-size: 14px;
    font-weight: 600;
    text-align: center;   
}

.type_material {
    position: relative;
}

.type_material_btn  {
    width: 44px;
    height: 44px;
    padding: 11px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 48px;
    left: 70px;
    cursor: pointer;
}


@media (max-width: 1500px){
    .type_material:last-child {
        display: none;
    }

}

@media (max-width: 1100px){
    .type_material:nth-child(4) {
        display: none;
    }
}
@media (max-width: 800px){
    .type_material:nth-child(3) {
        display: none;
    }
}
@media (max-width: 500px){
    .type_material:nth-child(2) {
        display: none;
    }
}

/* last section */

section:nth-child(4) {
    display: none;
}
section:nth-child(4).active {
    display: block;
}

.finish {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 50px 140px;
    justify-content: center;
    margin-top: 40px;
}

.finish_form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.finish_form, .properties p {
    text-align: center;
    margin-bottom: 30px;
    font-size: calc(1.2vw + 13px);
}

.finish_form input {
    width: calc(5.7vw + 256px);
    border: 0;
    border-bottom: 1px solid #C8C8C8;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.60);
    padding: 20px 10px;
}

.property {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.data_first { 
    font-size: calc(0.2vw + 9px);
    font-weight: 500;
    color: rgba(0, 0, 0, 0.60);
    margin-bottom: 15px;
}

.data_value {
    font-size: calc(0.2vw + 9px);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.60);
    margin-bottom: 15px;
}